

/* 기본 모드 */
:root {
  --background-color:#000;
  --text-color:#F6F1E1;
  --title-color: #CDBE91;
  --text-color-active: #A67D32;
  --text-color-sub: #F0E6D2;
  --title-size: 24px;
  --profile-bg: rgb(6, 21, 29, 0.5);
}

@font-face {
  font-family: 'KOTRA_BOLD-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body, header, h1, h2, h3, h4, div, p, nav, ul, li, span, input, textarea, dl, dt, dd, table, tr, th, td {
  margin:0; padding:0;
}

table {
  border-collapse: collapse; border-spacing: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: sans-serif;
  overflow: hidden;
  cursor: none;
}

button, a, input {
  cursor: none; /* 기본 커서를 숨김 */
}

header, nav, #home, #projects, #intro {
  max-width: 1440px; /* 최대 너비 설정 */
  width: 100%; /* 화면 너비에 맞게 확장 */
  margin: 0 auto; /* 중앙 정렬 */
}

header {
  display:flex;
}

header, nav {
  width: 1440px; margin:0 auto;
}

h1 {
  margin-right:60px;
}
h1 img {
  margin-top:24px;
}

nav {
  display:flex;
  gap: 550px;
}

.nav {
  display: flex;
  align-items: center;
}
.cash {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap:10px;
  width: 50px;
  font-size: 18px;
}
.cash li {
  padding-left:20px;
  width: 120px;
  height:40px;
  line-height: 40px;
}
.cash .rp, .cash .be {
  display: flex;
  align-items: center;
  position: relative;
}
.cash .rp {
  border: 1px solid var(--text-color-active);
  border-radius: 20px;
}
.cash .rp::before, .cash .be::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url("../image/rp.webp") no-repeat;
  background-size: contain;
}
.cash .be::before {
  width: 24px;
  height: 24px;
  background-image: url("../image/be.png");
}
.cash .rp:hover::after, .cash .be:hover::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 100;
  width: 100px;
  height: 54px;
  line-height: 50px;
  font-size:16px;
  background: url("../image/rpview.png") no-repeat;
  background-size: contain;
}
.cash .rp:hover::after {
  left: -40px;
  bottom: -60px;
}
.cash .be:hover::after {
  background-image: url(../image/beview.png);
  width: 178px;
  left: -70px;
  bottom: -50px;
}


.header-line {
  display:block;
  position: absolute;
  z-index: 10;
  width:100%;
  height:1px;
  background: radial-gradient(rgba(255,255,255,0.5) 0%, rgba(205, 190, 145,0.3) 100%);
  background-size:cover;
}


.nav li {
  position: relative;
  font-size: var(--title-size);
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  color: var(--title-color);
  height:120px;
  line-height: 120px;
  padding:0 50px;
  cursor: url("../image/cursor_h.png");
  transition: all 0.7s, color 0.3s;
}

.nav li::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 0;
  height: 2px; /* 밑줄 두께 */
  background: radial-gradient(rgba(255,255,255,0.7) 40%, rgba(0,0,0,0.5) 100%);  /* 밑줄 색상 */
  transition: width 0.6s ease;
}

.nav li:hover {
  background: linear-gradient(rgba(0,0,0,0.5) 0%, rgba(205, 190, 145,0.5) 99%, rgba(255,255,255,0.8) 100%);
  background-size: cover;
  color: #F6F1E1;
}

.nav li:hover::after {
  width: 100%;
  box-shadow: 1px 2px 10px 0 rgba(255, 255, 255, 0.7);
}

.nav li:active {
  color: var(--text-color-active);
}

.nav li.selected {
  background:linear-gradient(rgba(0,0,0,0.5) 0%, rgba(205, 190, 145,0.3) 100%);
  background-size: cover;
  color: var(--text-color);
}


/* profile */
.profile {
  width: 300px;
  height: 100%;
  background-color: var(--profile-bg);
  position: absolute;
  top:0;
  right:0;
}
.profile .my {
  display: flex;
  align-items: center;
  gap: 18px;
  height: 120px;
}
.profile .my>span {
  display: block;
  width: 60px;
  height: 60px;
  background: url("../image/profile.jpg") no-repeat;
  background-size: contain;
  border-radius: 50%;
  border: 6px solid var(--text-color-active);
  position: relative;
  cursor: url("../image/cursor_h.png");
  transition: border .1s;
}
.profile .my>span::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: var(--text-color-active);
  border: 2px solid var(--text-color-active);
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  top:-4px;
  right: -24px;
  animation: glow 2s infinite; /* 애니메이션 추가 */
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px var(--text-color-active);
    border: 2px solid rgb(166, 125, 50, 0.8);
  }
  50% {
    box-shadow: 0 0 15px var(--text-color-active), 0 0 30px var(--text-color-active);
    background: #FFFEB8;
    border: 2px solid rgb(166, 125, 50, 0.3);
  }
  100% {
    box-shadow: 0 0 10px var(--text-color-active);
    border: 2px solid rgb(166, 125, 50, 0.8);
  }
}
.profile .my span:hover {
  border: 6px solid #F2B749;
}


.profile .my .status-indicator:hover + .text {
  display: inline-flex;
  align-items: center; /* 세로 정렬 중앙 */
  position: relative; /* 자식 요소들이 절대 위치를 잡을 수 있게 설정 */
}
.profile .my .status-indicator:hover + .text h2,
.profile .my .status-indicator:hover + .text span,
.profile .my .status-indicator:hover + .text p,
.profile .my .status-indicator:hover + .text #statusText {
  display: none;
  pointer-events: none; /* hover 시 "소개 보기" 이외의 요소 클릭 방지 */
}
.profile .my .status-indicator:hover + .text::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  background: url("../image/intro.png") no-repeat;
  background-size: contain;
}
/* "소개 보기" 텍스트를 추가 */
.profile .my .status-indicator:hover + .text::after {
  content: "소개 보기";
  display: inline-block;
  font-size: 16px;
  color: var(--title-color);
  opacity: 1;
}

.profile .my .text h2 {
  font-size:20px;
}
/* 기본 상태 */
#statusText {
  display: inline-block;
  color: #03A741;
}
/* 자리비움 상태 */
#statusText.away {
  color: #9F9A8D;
}
.profile .my .text span {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: #1D825A;
  border: 3px solid #35D987;
  box-sizing: border-box;
  border-radius: 50%;
  margin-right: 4px;
  cursor: url("../image/cursor_h.png");
}
.profile .my .text span.away {
  background: none; /* 자리비움 상태 배경 색상 */
  border: 3px solid #BD1E38; /* 자리비움 상태 테두리 색상 */
}




/* community */

.communite {
  color: var(--text-color-sub);
}
.communite h2 {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
}
.communite .add {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}


/* 댓글 추가*/
.add-button {
  display: block;
  background: transparent url("../image/add.png") no-repeat;
  background-size: contain;
  text-indent: -9999px;
  border: none;
  cursor: url("../image/cursor_h.png");
  width: 20px;
  height: 20px;
}
.add-button:hover {
  background-image: url("../image/add-hover.png");
}

.image-preview-container {
  display: flex;
  gap: 2px;
  margin-bottom: 10px;
}
.preview-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: url("../image/cursor_h.png");
  transition: all .2s;
  opacity: 0.7;
}
.preview-image.selected {
  opacity: 1;
}

/* 메모 레이아웃 스타일 */
.memo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  position: relative;
  min-height:62px;
}
.memo:hover {
  background-color: #1C2326;
}


.memo-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid var(--text-color-active);
  box-sizing: border-box;
}

.memo-content {
  display: flex;
  flex-direction: column;
}

.memo-content h3 {
  font-size: 18px;
  opacity: 0.7;
}
.memo-content p {
  color: #16CAE5;
  opacity: 0.7;
}
.memo:hover .memo-content h3, .memo:hover .memo-content p {
  opacity: 1;
}

.memo-actions {
  display: none;
}
.memo:hover .memo-actions {
  display: block;
}


.memo button {
  background-color: transparent;
  border: 1px solid #fff ;
  color: var(--text-color-sub);
  padding: 5px;
  cursor: url("../image/cursor_h.png");
}
.memo-actions {
  position: absolute;
  right: 10px;
  top:50%;
  transform: translateY(-50%);
  cursor: url("../image/cursor_h.png");
}
.memo button:hover {
  
  
}

/* 모달 스타일 */
.modal {
  display: none; /* 처음에는 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  background-color: #000;
  border: 1px solid var(--text-color-active);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  position: relative;
}
.modal-content h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}
.modal-content h3, .modal-content p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
}

#name, #message, #password {
  height: 20px;
  border: 1px solid var(--text-color-active);
}
#name {
  width: 20%;
}
#message {
  width: 40%;
}
#password {
  width: 30%;
}

.modal-content button {
  background: none;
  border: 1px solid var(--text-color-active);
  color: var(--text-color);
  margin-left: 107px;
}
#customImage {
  
}


.password-input {
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
}




/* home nav */
.home-nav, .projects-nav, .intro-nav {
  margin-top: 20px;
  color: var(--title-color);
}
.home-nav {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.home-nav li, .projects-nav li, .intro-nav li {
  display:inline;
  transition: all .3s;
  color: var(--title-color);
}
.projects-nav li, .intro-nav li {
  margin-left:9px;
  color: var(--text-color);
}
.home-nav li::after, .projects-nav li::after, .intro-nav li::after {
  content: "";
  display:block;
  margin-top:4px;
  width: 50px;
  height: 2px; /* 밑줄 두께 */
  background: radial-gradient(rgba(205, 190, 145,0.8) 0%, rgba(0,0,0,0.5) 100%);
  box-shadow: 1px 1px 10px 0 rgba(255, 255, 255, 0.1);
}
.home-nav li:hover, .home-nav li.active {
  color: var(--text-color);
}
.home-nav li:active {
  color: var(--text-color-active);
}



/* nav바 컨트롤 */
.section {
  display: none; /* 모든 섹션을 처음에는 숨김 */
}

#home, #projects, #intro {
  width: 1440px;
  margin: 0 auto;
}

.section.active {
  display: block; /* 'active' 클래스를 가진 섹션만 표시 */
}

.home-section {
  display: none;
  margin:40px 0;
}
/* 홈 섹션의 서브 섹션 활성화 */
.home-section.active {
  display: block;
}
.home-section h2 {

}
.home-section span {
  color: #A69F94;
}
.home-section .text {
  display:flex;
  align-items: center;
}
.home-section .text p {
  font-size: 18px;
}
.home-section .text:last-of-type p {
  margin-left: 40px;
}
.home-section .text span {
  font-family: 'KOTRA_BOLD-Bold';
  font-size: 50px;
  padding:40px 10px 0;
}
.home-section .text div {
  flex-direction: column;
}

#outline.home-section>p {
  margin-left: 40px;
  margin-bottom: 20px;
  font-size: 18px;
}

.home-section img {
  width: 200px;
}

.home-section dl {
  display: flex;
}
.home-section dt {
  width: 100px;
}
.home-section dt span {
  display: block;
}
.home-section dd img {
  width: 20px;
}

#profile .container {
  display: flex;
}
#profile .container a img {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}
#profile .container strong {

}
#profile table {
  margin-left: 20px;
}
#profile th {
  text-align: left;
  width: 90px;
  border-right: 1px solid var(--text-color-active);
}
#profile td {
  padding-left: 20px;
}
#profile td strong {
  margin-right: 10px;
}
#profile td img {
  width: auto;
  height: 36px;
  opacity: 0.8;
  transition: all .3s;
}
#profile td img:hover {
  opacity: 1;
}


.projects-section {
  margin: 40px 0;
  display: flex;
  gap: 14px;
  width: 1000px;
}
.projects-section .main-sect {
  min-width: 60%;
  border: 2px solid rgba(255,255,255,0.3);
  opacity: 0.7;
  position: relative;
}
.projects-section .sect {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  min-width: 50%;
}
.projects-section .sect div {
  width: 48%;
  border: 2px solid rgba(255,255,255,0.3);
  box-sizing: border-box;
  opacity: 0.8;
}

.projects-section .main-sect:hover, .projects-section .sect div:hover {
  opacity: 1;
  border: 2px solid var(--text-color);
}


.overlay-image {
  position: absolute;
  z-index: 10;
  top: 50%; /* 중앙에 위치 */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px; /* 이미지 크기 */
  height: 80px;
  background: url('../image/projects-hover.png') no-repeat center center;
  background-size: contain;
  opacity: 0; /* 기본적으로 숨김 */
  transition: opacity 0.3s ease; /* 전환 시 애니메이션 */
  pointer-events: none;
}





.slider {
  min-width: 560px;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  height: 450px;
  box-sizing: border-box;
  background: url("../image/image1.png") no-repeat center;
  background-size: cover;
  position: relative;
}
.slide:nth-child(2) {
  background: url("../image/image2.png") left center;
  background-size: cover;
}
.slide:nth-child(3) {
  background-image: url("../image/image3.png");
}
.slide .text-wrap {
  position: absolute;
  left: 20px;
  bottom: 50px;
  text-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}
.slide .text-wrap span {
  font-weight: 600;
}
.slide .text-wrap h3 {
  font-weight: 800;
  font-size: 38px;
}
.slide .text-wrap h3 {
  color: var(--text-color-active);
}


.sect div {
  background: url("../image/image4.png") no-repeat top center;
  background-size: cover;
}
.sect div:nth-child(2) {
  background-image: url("../image/image5.png")
}
.sect div:nth-child(3) {
  background-image: url("../image/image6.png")
}
.sect div:nth-child(4) {
  background-image: url("../image/image7.png")
}


.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background:linear-gradient(#fff 0%, var(--text-color-active) 100%);
  color: rgba(255,255,255,0.5);
  border: none;
  font-size: 18px;
  width:30px;
  height:32px;
  transition: all .3s;
}
.prev:hover, .next:hover {
  background:linear-gradient(#fff 0%, var(--text-color-active) 100%);
  color: var(--text-color);
}

.prev {
  left: 10px;
}
.next {
  right: 10px;
}
.prev::after, .next::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:28px;
  height:30px;
  background:#333;
}


/* 팝업 기본 스타일 */
.popup {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* 반투명 배경 */
  justify-content: center;
  align-items: center;
  z-index: 10;
}

/* 팝업 콘텐츠 스타일 */
#popup-content {
  position: relative; /* 'z-index'가 제대로 작동하려면 'position'이 relative여야 합니다. */
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1000px;
  height: 700px;
  padding: 20px 50px;
  background-color: #000;
  border: 2px solid rgb(166, 125, 50, 0.5);
  box-sizing: border-box; /* padding이 포함된 크기 계산 */
}

.popupInfo {
  overflow-y: auto; /* 세로 스크롤만 표시 */
  overflow-x: hidden; /* 가로 스크롤 숨기기 */
  max-width: 800px;
  max-height: 500px;
  padding: 20px 0;
  margin: 10px 0;
}

.popupInfo section {
  margin-bottom: 40px;
}


.popupInfo h4 {
  font-size: 24px;
}
.popupInfo h4::after {
  content: "";
  display: block;
  margin:20px 0;
  background:rgba(205, 190, 145,0.4);
  width: 700px;
  height: 1px;
}

.popupInfo ul, .popupInfo p {
  width: 700px;
}

.popupInfo p, .popupInfo li {
  line-height: 24px;
  margin: 10px 0;
}

.project-overview a {
  font-style: italic;
  color: #0896A6;
}

.popupInfo code {
  background: rgba(255,255,255,0.3);
  padding: 4px;
  border-radius: 4px;
}

.popupInfo li strong {
  color: var(--title-color);
}

/* 이미지 갤러리 그리드 */
.image-gallery {
  width: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3개의 열 */
  gap: 4px;
  padding: 10px;
}


.image-gallery:nth-of-type(2) {
  width: 300px;
  grid-template-columns: repeat(3, 1fr); /* 3개의 열 */
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 이미지가 컨테이너 밖으로 나가지 않도록 */
}

.gallery-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05); /* 이미지에 호버 시 살짝 확대 */
}

/* 이미지 미리보기 썸네일 스타일 */
.thumbnail {
  width: 100px;
  height: 100px;
}

/* 전체 이미지를 보일 때 사용되는 컨테이너 스타일 */
#fullImageContainer {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

/* 전체 이미지 스타일 */
#fullImage {
  max-width: 70%;
  max-height: 70%;
}


/* 'hidden' 클래스는 컨테이너를 숨김 */
.hidden {
  visibility: hidden;
  opacity: 0;
}




/* 커스텀 스크롤바 스타일 */
.popupInfo::-webkit-scrollbar {
  background: none;
  width: 1px;
}




/* 닫기 버튼 스타일 */
.close {
  position: absolute;
  top: -14px; /* 팝업 콘텐츠 외부로 위치 */
  right: -14px; /* 팝업 콘텐츠 외부로 위치 */
  font-size: 30px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #000;
  color: rgb(166, 125, 50, 0.7);
  border: 2px solid rgb(166, 125, 50);
  border-radius: 50%;
  transition: all .3s;
  opacity: 0.8;
  z-index: 1000; /* 항상 최상위에 위치하도록 설정 */
}

.close:hover {
  opacity: 1;
}

.next {
  position: absolute;
}



.popupTitle {
  border-bottom: 1px solid var(--text-color-active);
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.popupTitle h2 {
  font-size: 28px;
}

.popupTitle span {
  color: #A69F94;
}



.portfolio-link {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(rgba(0,0,0,0.5) 0%, rgb(166, 125, 50, 0.5) 100%);
  border: 2px solid rgb(166, 125, 50, 0.6);
  color: var(--text-color-sub);
  text-decoration: none;
  text-align: right;
}

.portfolio-link:hover {
  background: linear-gradient(rgba(0,0,0,0.5) 0%, rgb(166, 125, 50, 0.7) 100%);
}





@media screen and (max-width: 768px) {
  body {
    overflow: auto;
  }
  header {
    width: 100%;
    max-width: 768px;
    overflow: hidden;
  }
  h1 {
    margin-left: 15px;
    margin-right: 30px;
  }
  h1 img {
    width: 60px;
    height: auto;
    margin-top: 30px;
  }
  nav {
    gap: 0px;

  }
  .nav {
    width: 100%;
  }
  .nav li {
    padding: 0 24px;
    font-size: 18px;
  }
  .home-nav {
    margin: 20px 15px;
  }
  #home, #projects, #intro {
    width: 100%;
    max-width: 768px;
  }
  .profile, .cash {
    display: none;
  }
  .home-section {
    margin: 40px 15px;
  }
  #profile .container {
    flex-direction: column;
  }
  .home-section img {
    width: 140px;
    height: 100%;
  }

  #home .home-section p {
    font-size: 14px;
  }
  #profile table {
    margin: 20px 0; 
    width: 100%;
    font-size: 14px;
  }
  #profile th {
    width: 64px;
  }
  #profile .container a img {
    width: 20px;
    height: 20px;
  }
  #profile td img {
    height: 22px;
  }


  .projects-nav li, .intro-nav li {
    margin: 0 24px;
  }
  .projects-nav li::after, .intro-nav li::after {
    margin-left: 15px;
  }
  .projects-section {
    width: 100%;
    margin: 0 10px;
    flex-direction: column;
  }
  .projects-section .slide {
    background: url("../image/game_m.png") bottom center no-repeat;
    background-size: cover;
  }
  .projects-section .slide:nth-child(2) {
    background-image: url("../image/card_m.png");
  }
  .projects-section .slide:nth-child(3) {
    background-image: url("../image/hotel_m.png");
  }
  .projects-section .main-sect {
    width: 93%;
    height: 450px;
  }
  .projects-section .sect {
    width: 95%;
    height: 400px;
    gap: 10px;
  }

  #popup-content {
    height: 500px;
  }
  .popupTitle {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  .popupTitle h2 {
    font-size: 20px;
  }
  .popupTitle span {
    font-size: 10px;
  }
  .popupInfo {
    max-height: 310px;
  }
  .popupInfo h4 {
    font-size: 16px;
  }
  .popupInfo p, .popupInfo li {
    font-size: 12px;
    width: 200px;
  }

  .portfolio-link {
    padding: 4px 10px;
    font-size: 12px;
  }
  #popup-content button {
    font-size: 10px;
    width: 20px;
    height: 20px;
  }
  .prev::after, .next::after {
    width: 22px;
    height: 22px;
  }
  video {
    width: 300px;
  }
  .gallery-image {
    width: 200px;
  }
  
}


.custom-cursor {
  position: absolute;
  width: 40px; /* 커서 크기 */
  height: 50px;
  pointer-events: none; /* 마우스 이벤트 방해하지 않음 */
  transform: translate(-35%, -35%);
  z-index: 9999;
  padding: 10px;
}

.cursor-default {
  display: block; /* 기본 커서 이미지는 항상 표시 */
  width: 100%;
  height: 100%;
}

.cursor-hover {
  display: none; /* 기본적으로 숨김 */
  width: 44px;
  height: 52px;
}
